@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create">Create Empoloyee</a>
<h2>Here is the list of all Employees<h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Sex</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in @Model)
        {
            <tr>
               <th>@e.Name</th>
               <th>@e.Age</th>
               <th>@e.Salary</th>
               <th>@e.Department</th>
               <th>@e.Sex</th>
               <th><a asp-action="Update" asp-route-empname="@e.Name">Update</a></th>
            </tr>
        }
    </tbody>
</table>
