@model Employee

@{
    ViewData["Title"] = "Update";
}

<h2>Create</h2>

<a asp-action="Index">View All Employes</a>
<form method="post">
    <p>
        <label asp-for="Name">Your Name:</label>
        <input type="text" asp-for="Name">
    </p>
    <p>
        <label asp-for="Age">Age:</label>
        <input type="number" asp-for="Age">
    </p>
    <p>
        <label asp-for="Salary">Salary:</label>
        <input type="number" asp-for="Salary">
    </p>
    <p>
        <label asp-for="Department">Department</label>
        <select asp-for="Department">
            <option value="Develoment">Development</option>
            <option value="HR">HR</option>
            <option value="Research">Research</option>
        </select>
    </p>
    <p>
        <label asp-for="Sex">Your Sex:</label>
        <input type="radio" asp-for="Sex" value="M">Male
        <input type="radio" asp-for="Sex" value="F">Female
    </p>
    <p><button type="submit">Submit</p>
</form>
